.resume {
  // &-body {
  //   #experience,
  //   #skills {
  //     grid-column: 1/4;
  //   }

  //   #education,
  //   #contact {
  //     grid-column: 2/5;
  //   }

  //   @media (max-width: 640px) {
  //     #experience,
  //     #skills,
  //     #education,
  //     #contact {
  //       grid-column: 1/5;
  //     }
  //   }
  // }

  &-card {
    &-title {
      h2 {
        border-bottom: none;
        margin-bottom: 0;
        color: $contrast;
      }

      p {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-top: 0.25em;
      font-family: $sansSerif;

      & + p {
        margin-top: 0;
      }
    }

    &-wrapper {
      & + & {
        margin-top: 1em;
      }
      //     outline: 2px dashed $black;
      //     padding: 1em;
      //     position: relative;
      //     background: $white;
      //     z-index: 0;

      //     &:nth-of-type(odd) {
      //       box-shadow: 0.5em 0.5em 0 0 $contrast,
      //         0.75em 0.75em 0 0 rgba($primary, 0.5);
      //     }

      //     &:nth-of-type(even) {
      //       box-shadow: -0.5em 0.5em 0 0 $contrast,
      //         -0.75em 0.75em 0 0 rgba($primary, 0.5);
      //     }
    }

    &-note {
      font-size: 0.875rem;
    }

    &-body {
      margin-top: 0;
      font-size: 0.75rem;
    }
  }

  &-tags {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-tag {
    display: inline-block;
    list-style: none;
    border: 2px solid $contrast;
    background: $white;
    font-size: 0.675rem;
    padding: 0.3em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;

    @media screen and (max-width: 640px) {
      margin-right: 0.75em;
      margin-bottom: 0.75em;
    }
  }
}
