.resume {
  &-card-wrapper {
    & + & {
      margin-top: 3em;
    }
  }

  &-tags {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-tag {
    display: inline-block;
    list-style: none;
    border: 2px solid $accent;
    font-size: 0.75em;
    padding: 0.3em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
