.resume {
  &-card {
    &-title {
      h2 {
        border-bottom: none;
        margin-bottom: 0;
        color: $contrast;
      }

      p {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-top: 0.25em;
      font-family: $sansSerif;

      & + p {
        margin-top: 0;
      }
    }

    &-wrapper {
      & + & {
        margin-top: 1em;
      }
    }

    &-note {
      font-size: 0.875rem;
    }

    &-body {
      margin-top: 0;
      font-size: 0.75rem;
    }
  }

  &-tags {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-tag {
    display: inline-block;
    list-style: none;
    border: 2px solid $contrast;
    background: $white;
    font-size: 0.675rem;
    padding: 0.3em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;

    @media screen and (max-width: 640px) {
      margin-right: 0.75em;
      margin-bottom: 0.75em;
    }
  }
}
