@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");

:root {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  letter-spacing: -0.5px;
  word-spacing: -1.25px;
  line-height: 1.4;
  text-transform: lowercase;

  @media only (max-width: 640px) {
    font-size: 18px;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Space Mono", monospace;
}

a {
  font-weight: 700;
  color: $primary;

  &:hover,
  &:focus {
    outline: 2px solid $accent;
    color: $contrast;
  }
}

h1 {
  color: $white;
  text-shadow: 0 1px 1px rgba($black, 0.5);
  margin: 0;
  position: relative;
  line-height: 1.2;

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: -0.5em;
    right: -0.5em;
    height: 100%;
    background-color: $contrast;
    display: block;
  }
}

h2 {
  border-bottom: 1px solid $light-gray;
}

h3 {
  color: $primary;
  margin-bottom: 0;

  & + p {
    margin-top: 0.5em;
  }
}
