@import url("https://fonts.googleapis.com/css?family=Rubik:wght@400;50&display=swap");

:root {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  letter-spacing: -0.5px;
  word-spacing: -1.25px;
  line-height: 1.4;
  // text-transform: lowercase;

  @media only (max-width: 640px) {
    font-size: 18px;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.5px;
}

a {
  color: $primary;

  &:hover,
  &:focus {
    outline: 2px solid $contrast;
    color: $contrast;
  }
}

.emoji {
  font-size: 0.875em;

  &-large {
    font-size: 3em;
  }
}

h1 {
  color: $contrast;
  margin: 0;
  position: relative;
  line-height: 1.2;
  z-index: 0;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid $med-gray;
}

h3 {
  color: $primary;
  margin-bottom: 0;

  & + p {
    margin-top: 0.3em;
  }
}

.disclaimer {
  font-size: 0.5em;
}
