$primary: #ff495c;
$accent: #4c1793;
$contrast: #256eff;
$black: #201e1f;
$white: #fff;
$gray: #212d40;
$med-gray: #ccc;
$light-gray: #fcfcfc;

$regular: 400;
$bold: 700;

$boxShadow: 0px 0px 50px 3px rgba(32, 30, 31, 0.15);
$borderRadius: 10px;
$borderRadiusSmall: 5px;
$lightBorder: rgba(32, 30, 31, 0.1);

$minimumCardHeight: 300px;
